.error-page-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-container {
  text-align: center;
}

.oops {
  color: var(--black-color);
}

.number-error {
  color: black;
  margin: 0;
  text-shadow: 4px 1px 0px rgb(255, 255, 255);
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: -1rem;
}
