@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import './variables.scss';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  background-color: var(--body-color);
}

a,
button {
  font-family: 'Montserrat', sans-serif;
}
