:root {
  --body-color: #f4f4f4;
  --white-color: #ffffff;
  --light-grey-color: #f7f8fa;
  --grey-color: #c0c7d6;
  --dark-grey-color: #737c8e;
  --black-color: #111111;
  --blue-color: #3795bd;
  --success-color: #8fcb81;
  --error-color: #ff8383;
  --warning-color: #e1d888;
  --dark-purple-color: #c0c7d6;
  --light-purple-color: #eceff7;
}
